
{% load static %}
    
            <!-- Testimonial Start -->
            <div class="testimonial wow fadeIn" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-slider-nav">
                                <div class="slider-nav"><img src="{% static 'img/testimonial-4.jpg' %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static 'img/testimonial-4.jpg' %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static 'img/testimonial-4.jpg' %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static 'img/testimonial-4.jpg' %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static 'img/testimonial-4.jpg' %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static 'img/testimonial-4.jpg' %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static 'img/testimonial-4.jpg' %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static 'img/testimonial-4.jpg' %}" alt="Testimonial"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-slider">
                               <!-- نظرات مشتریان -->
                                <div class="slider-item">
                                    <h3>نام مشتری</h3>
                                    <h4>شغل</h4>
                                    <p>ما از خدمات این شرکت بسیار راضی بودیم و کیفیت کار آن‌ها فوق‌العاده است.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>نام مشتری</h3>
                                    <h4>شغل</h4>
                                    <p>کارشناسان حرفه‌ای و پشتیبانی عالی! حتماً توصیه می‌کنم.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>نام مشتری</h3>
                                    <h4>شغل</h4>
                                    <p>کیفیت خدمات بالا، تحویل به‌موقع و قیمت مناسب. بهترین تجربه خرید را داشتم.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>نام مشتری</h3>
                                    <h4>شغل</h4>
                                    <p>روند کار بسیار سریع بود و پشتیبانی مشتری فوق‌العاده کمک‌کننده بود.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>نام مشتری</h3>
                                    <h4>شغل</h4>
                                    <p>من از تجربه همکاری با این شرکت بسیار خوشحال هستم. کیفیت و دقت عالی.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>نام مشتری</h3>
                                    <h4>شغل</h4>
                                    <p>یک تیم حرفه‌ای که به تعهدات خود پایبند است. کاملاً راضی هستم.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>نام مشتری</h3>
                                    <h4>شغل</h4>
                                    <p>بسیار متعهد، خوش‌برخورد و دقیق. از همکاری با این مجموعه لذت بردم.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>نام مشتری</h3>
                                    <h4>شغل</h4>
                                    <p>بهترین تجربه خریدی که تا به حال داشتم! خدمات سریع و بدون نقص.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial End -->

